Node-RED/flows.json
[{"id":"f0d31400.b99be8","type":"tab","label":"AGENDAMENTO","disabled":false,"info":""},{"id":"b2eca33a.463fe","type":"ui_button","z":"f0d31400.b99be8","name":"Descartar Alterações","group":"1f5925b.de731da","order":5,"width":0,"height":0,"passthru":false,"label":"Atualizar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"refresh","x":160,"y":260,"wires":[["15609c44.cd49a4"]]},{"id":"15609c44.cd49a4","type":"function","z":"f0d31400.b99be8","name":"Montar Lista","func":"msg.payload= global.get(\"agenda\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":260,"wires":[["f35b26a8.737718"]]},{"id":"f35b26a8.737718","type":"ui_list","z":"f0d31400.b99be8","group":"1f5925b.de731da","name":"Lista de Agendamento","order":4,"width":0,"height":0,"lineType":"three","actionType":"check","allowHTML":false,"outputs":1,"topic":"","x":680,"y":260,"wires":[["376ee506.de6e8a"]]},{"id":"d24277f.fa9f088","type":"function","z":"f0d31400.b99be8","name":"Init","func":"","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nconst formatarHorario = (milliseconds) =>\n{\n    const minutes = Math.floor(((milliseconds / (1000*60)) % 60));\n    const hours   = Math.floor(((milliseconds / (1000*60*60)) % 24));\n    return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;\n}\n\nconst compararHorario = (horario1, horario2) => {\n    const h1 = parseInt(horario1.description.split(\":\")[0]);\n    const m1 = parseInt(horario1.description.split(\":\")[1]);\n    const h2 = parseInt(horario2.description.split(\":\")[0]);\n    const m2 = parseInt(horario2.description.split(\":\")[1]);\n    if (h1 !== h2) {\n        return h1 - h2;\n    }\n    return m1 - m2;\n}\n\nconst agendaJSON = \n    `[{\n        \"description\": \"10:30\"\n      },\n      {\n        \"description\": \"11:30\"\n      },\n      {\n        \"description\": \"12:30\"\n      }\n    ]`;\n    \nconst agenda = JSON.parse(agendaJSON);\n\nagenda.forEach(i => { \n    i[\"icon_name\"] = \"fa-clock-o\"; \n    i[\"title\"] = \"Abastecimento\";\n    i[\"isChecked\"] = false;\n});\n\nconst toggleTipoAlerta = {\n    state: 0\n};\n\nconst toggleAlertaSonoro = {\n    state: 0\n};\n\nglobal.set(\"toggleTipoAlerta\", toggleTipoAlerta);\nglobal.set(\"toggleAlertaSonoro\", toggleAlertaSonoro);\nglobal.set(\"agendaJSON\", agendaJSON);\nglobal.set(\"agenda\", agenda);\nglobal.set(\"formatarHorario\", formatarHorario);\nglobal.set(\"compararHorario\", compararHorario);","finalize":"","x":210,"y":100,"wires":[[]]},{"id":"137e6923.94ab27","type":"complete","z":"f0d31400.b99be8","name":"","scope":["d24277f.fa9f088","b7d556c7.af1388","25815b68.937044"],"uncaught":false,"x":190,"y":340,"wires":[["15609c44.cd49a4"]]},{"id":"3d0a10d6.c8e3f","type":"ui_text_input","z":"f0d31400.b99be8","name":"Caixa Horário","label":"Horário:","tooltip":"","group":"1f5925b.de731da","order":1,"width":4,"height":1,"passthru":false,"mode":"time","delay":"0","topic":"","x":660,"y":200,"wires":[["e1aefb3f.271c68"]]},{"id":"e1aefb3f.271c68","type":"function","z":"f0d31400.b99be8","name":"Ler Horário","func":"const formatarHorario = global.get(\"formatarHorario\");\nglobal.set(\"horarioSelecionado\", formatarHorario(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":200,"wires":[[]]},{"id":"c8c1f1e4.73313","type":"ui_button","z":"f0d31400.b99be8","name":"Botão Adicionar","group":"1f5925b.de731da","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-check","payload":"","payloadType":"str","topic":"plus","x":660,"y":320,"wires":[["b7d556c7.af1388"]]},{"id":"2ec0bc7e.c26d84","type":"ui_button","z":"f0d31400.b99be8","name":"Botão Remover","group":"1f5925b.de731da","order":3,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-trash-o","payload":"","payloadType":"str","topic":"minus","x":660,"y":380,"wires":[["25815b68.937044"]]},{"id":"b7d556c7.af1388","type":"function","z":"f0d31400.b99be8","name":"Adicionar Horário","func":"const horarioSelecionado = global.get(\"horarioSelecionado\");\nconst formatarHorario = global.get(\"formatarHorario\");\nconst compararHorario = global.get(\"compararHorario\");\nif (horarioSelecionado) {\n    const agenda = global.get(\"agenda\");\n    if (!agenda.find(i => i.description == horarioSelecionado)) {\n        msg.payload = {\n            h: horarioSelecionado,\n            a: agenda\n        };\n        agenda.push(\n        {\n            icon_name: \"fa-clock-o\",\n            title: \"Abastecimento\",\n            description: horarioSelecionado\n        });\n        agenda.sort(compararHorario);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":320,"wires":[[]]},{"id":"25815b68.937044","type":"function","z":"f0d31400.b99be8","name":"Remover Horário","func":"let agenda = global.get(\"agenda\");\nif (agenda.find(i => i.isChecked)) {\n    for(let i = agenda.length-1; i >= 0; i--) {\n        if(agenda[i].isChecked) {\n            agenda.splice(i, 1);\n        }\n    }\n    global.set(\"agenda\", agenda);\n}\nmsg.payload = agenda;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":380,"wires":[[]]},{"id":"376ee506.de6e8a","type":"function","z":"f0d31400.b99be8","name":"Selecionar Horário","func":"let agenda = global.get(\"agenda\");\nlet itemHorario = msg.payload;\nlet horario = agenda.find(i => i.description === itemHorario.description);\nif (horario) {\n    horario.isChecked = itemHorario.isChecked;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":260,"wires":[[]]},{"id":"748d29bf.89e538","type":"comment","z":"f0d31400.b99be8","name":"AGENDAMENTO","info":"","x":100,"y":40,"wires":[]},{"id":"1f5925b.de731da","type":"ui_group","z":"","name":"Principal","tab":"31de2576.196eea","order":1,"disp":true,"width":"6","collapse":false},{"id":"31de2576.196eea","type":"ui_tab","z":"","name":"Agendamento","icon":"fa-clock-o","order":2,"disabled":false,"hidden":false}]